#buttonMenu {
  @apply hidden md:grid p-0.5 w-8 h-8 gap-0.5 grid-rows-2 grid-cols-2 rounded-md;
  border: 2px solid $primary;

  > div {
    border-radius: 3px;
    @apply w-full h-full;
    background: $primary;
  }
}
