@import './tailwind';
@import './variables';
@import './custom/custom.scss';

body {
  color: $text;
  background: $bg-primary;
  font-family: 'Montserrat', sans-serif;
  @apply text-base;
}

* {
  scroll-behavior: smooth;
}
